# Do not upload this folder to a public repo, since the data is not yet public.
zCOSMOS-deep/

# No need to upload Jupyter Notebook checkpoints.
.ipynb_checkpoints/

# No need to upload automatically downloaded files.
downloads/
